h1 {
  text-align: center;
  font-size: 50px;
  color: #FFE4C4;
  font-family: sans-serif;
  border-width:1px;
  border-style:inset;
  border-color:white;
  height: 80px;
  padding: 30px 10px;
  text-align: left;
  margin-bottom: 50px;
  text-shadow: 0px 0px 9px #777;
  text-align: center;
  font-size: 60px;
}
p {
  color: #DEB887;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
li {
  float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a {
  text-decoration: none;
	font-size: 25px;
	padding: 4px;
	display: block;
	color: #D2B48C;
	background: transparent;
	width: 230px;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    line-height: 20px;
}

ul li a:hover {
	background: #FFE4C4;
	padding-left: 90px;
	width: 130px;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.active {
  background-color: #FFE4C4;
}
