#svgArea
  margin-right: auto
  margin-left: auto
  display: block
  margin-top: 35px
  border: 1px solid black

#levelInput
  border: none
  max-width: 40px
  font-size: 18px

  &:focus
    outline: none
