body{
	 user-select:none;
}
.titre{
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 2rem;
}
.sous-titre{
	font-family: 'Lobster', cursive, sans-serif;
	font-size:1.5rem;
}
.paragraphe{
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	text-align: justify;

}
li{
	font-family: 'Muli', sans-serif;
}#partieTuto{
	margin-right: auto;
  margin-top:6%;
  margin-left: 15%;
  width: 70%;
}
.back{
  position: absolute;
  border: 3px solid #fe8b0a;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 40px;
  width: 80px;
}
  

.back a{
	color: black;
    text-decoration: none;
    font-weight: bold;

}

.chapters {
  text-align: justify;
}
    